/*some css*/

body {
	background: linear-gradient(270deg, #2fe1b4, #e1ab2f, #e8a6ed);
	background-size: 600% 600%;

	/*-webkit-animation: mygradient 15s ease infinite;
	-moz-animation: mygradient 15s ease infinite;
	animation: mygradient 15s ease infinite;*/

	margin: 0;
	padding: 5px;
	box-sizing: border-box;
}

/*
@-webkit-keyframes mygradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes mygradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes mygradient { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}*/

/*thanks to https://www.gradient-animator.com/ */

.page-wrapper {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	max-width: 1200px;
	/*border-left: 2px solid #333;
	border-right: 2px solid #333;*/
	margin:0 auto;
}
.module-body {
	margin-left: 0px;
	height: auto;
}
.page-wrapper p,
.page-wrapper li {
	font-family: 'Open Sans',Helvetica,sans-serif;
	font-size: 16px;
	max-width: 620px;
	font-weight: 200;
	color: #333;
	line-height: 1.2;
}
.page-wrapper li {
	max-width: calc(620px - 40px);
}
.page-wrapper p.large {
	font-weight: 800;
	font-size: 18px;
	margin-bottom: 0;
	border-top: 2px dotted #000;
    padding-top: 10px;
}
.page-wrapper .toolbox p.large {
	border-top: none;
}
.page-wrapper p.next {
	margin-top: 0;
}
.page-wrapper a {
	color: white;
	font-weight: 800;
	text-decoration: underline;
}
.header-wrapper h1 {
	font-family: 'Open Sans',Helvetica,sans-serif;
	font-size: 36px;
	line-height: 1;
	font-weight: 800;
	margin: 0 0 20px;
	margin-left: -6px;
}
.header-wrapper h2 {
	font-family: 'Open Sans',Helvetica,sans-serif;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 300;
	margin: 5px 0;
}

.header-wrapper {
	width: 100%;
	background-color: #333;
	color: white;
	padding: 10px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.modules {
	padding: 2px 0 25px;

}
.module {
	border-bottom: 2px solid #333;
	/*margin-bottom: 25px;*/
	padding-bottom: 50px;
}
.module:last-of-type {
	border-bottom: none;
}
.modules h3 {
	font-family: 'Open Sans',Helvetica,sans-serif;
	font-weight: 900;
	color: #333;
	font-size: 24px;
	margin-bottom: 25px;
	max-width: 780px;
	/*padding: 0 20px;*/
}
.modules h4 {
	font-family: 'Open Sans',Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 300;
	background-color: #333;
	color: white;
	max-width: 180px;
	padding: 10px 0;
	padding-left: 65px;

	margin-top: 0;
}
.toolbox .module-body {
	max-width: 960px;
}
.toolbox:before,
.toolbox:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.toolbox:after {
    clear: both;
}

.tools {
	float: left;
	width: 33.33%;
	display: inline-block;
}

/*.indent {
	margin-left: 20px;
}*/

@media screen and (min-width: 550px) {
	.module-body {
		margin-left: 65px;
	}
	.header-wrapper {
		padding: 20px 65px;
	}
	.header-wrapper h1 {
		font-size: 72px;
	}
	.modules h3 {
		font-size: 32px;
	}
	.modules h4 {
		font-size: 18px;
	}
}
@media screen and (min-width: 740px) {
	.header-wrapper {
		margin: 0 auto;
	}
	.header-wrapper h1 {
		font-size: 100px;
	}
	.modules h3 {
		font-size: 48px;
	}
	
}